<ng-container *ngIf="!isLoading; else loading">
  <button class="btn btn-outline-primary custom-btn" routerLink="/">
    Back to Investment Screen
  </button>

  <shared-tabs
    *ngIf="areTabsAvailable"
    [tabsData]="categoryTabsData"
    [activeTabProps]="activeTab"
  >
  </shared-tabs>

  <table class="table table-hover">
    <thead>
    <tr>
      <th class="custom-name" scope="col">Name</th>
      <th scope="col">Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of currentSelected">
      <td class="custom-fullName">{{ item.name | fullUserName }}</td>
      <td>46</td>
    </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
