/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

shared-tabs {
  display: flex;
  justify-content: center;
}

shared-primary-btn {
  margin-top: 8px;
}
